<!DOCTYPE html>
<html>
<head>
	<title>ExportData</title>
</head>
<body>
	<center>
		<h2><strong>Download Model Data</strong></h2>
		<table border="1 px;">
			<tr>
				<td>Model_User</td>
				<td><form action="#" method="get">
 					<input type="submit" value="User_CSV" name="User_CSV">
				</form>
				</td>
			</tr>
			<tr>
				<td>Model_Member</td>
				<td><form action="#" method="get">
 					<input type="submit" value="Member_CSV" name="Member_CSV">
				</form>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>